<ion-header [translucent]="true">
  <ion-toolbar color="secondary">   
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>    
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Segment buttons with text -->
  <ion-segment color="primary">
    <ion-segment-button value="friends">
      Friends
    </ion-segment-button>
    <ion-segment-button value="places">
      Places
    </ion-segment-button>
  </ion-segment>
</ion-content>
