<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <ion-card *ngFor="let site of (siteList | async)">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="site.imageurl">
      </ion-avatar>
      
      <ion-card-title>
        {{ site.location }}
        </ion-card-title>     
    </ion-item>
  
    <img [src]="site.imageurl">   
  
    <ion-card-content>
      <h2>{{ site.description }}</h2>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ site.likes }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name="heart"></ion-icon>
          <div> {{ site.tags }} </div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note> 
          {{ site.owner }}        
          {{ site.updated }}
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card> 

</ion-content>

  