<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
  <ion-list *ngFor="let update of updateList">
    <ion-list-header>
      <h3 text-center>{{ heading }}</h3>
    </ion-list-header>
    <!-- Total and timestamp -->
   
      <ion-item lines="none">
        <ion-badge>Total</ion-badge>
        <ion-badge color="medium">{{ update.total }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-badge>{{update.timeStamp}}</ion-badge>
      </ion-item>
    
    <ion-item *ngFor="let temp of update.countries; let i = index">
      <ion-avatar slot="start" *ngFor="let flag of flagList">
        <div *ngFor="let temp of update.countries; let j = index">
          <ion-label *ngIf="flag[j].name == update.countries[i].name">
            <img src="https://www.countryflags.io/{{flag[j].alpha2Code}}/shiny/64.png">
          </ion-label>
        </div>
      </ion-avatar>
      <ion-label>
        <h2>{{ update.countries[i].name }}</h2>
        <ion-text color="warning">
          <h3>Cases: {{ update.countries[i].cases }}</h3>
        </ion-text>
        <ion-text color="danger">
          <p>Deaths: {{ update.countries[i].deaths }} </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>